body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background: #66ccff;
}

.box{
	width:320px;
	height: 400px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background:#191919;
	text-align:center;
	border-radius: 20px;
}

.box h1{
	color:white;
	text-transform:uppercase;
	font-weight:500;
}

.box h2{
    color:white;
	text-transform:lowercase;
	font-weight: 100;
}

.box input[type = "text"], .box input[type = "password"]{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
	width:280px;
	border-color: #3366ff;	
}

.box input[type = "submit"], .box button{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 40px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	cursor:pointer	
}

.box input[type = "submit"]:hover{background:#3366ff;}
.box button:hover{background:#3366ff;}

.txt{
	left:36%;
	color:white;
	top:77%;
	position:absolute;
	font-family:sans-serif;
}

.button{ 
	font-size: 14px;
	font-family:sans-serif;
	display: inline-block;
	padding:14px 10px;
	width:100px;
	outline:none;
	color:white;
	border-radius:24px;
}

.box select[id="select"]{
	font-size: 14px;
	font-family:sans-serif;
	display: inline-block;
	padding:14px 10px;
	width:200px;
	outline:none;
	background-color: #191919;
	color: white;
	border-radius:24px;
	border:2px solid #3498db;
}

.textBV {
	margin-top: 70px ;
	color:white;
	font-size: 18px;
	font-family:sans-serif;
	text-align: center;
}